:root {
    /* Alcoa Brand Colors */
    --alcoa-blue: #165788;
    --alcoa-gray: #7c878e;
    --alcoa-dark-blue: #00263e;
    --alcoa-deep-green: #00664f;

    /* CBG Colors */
    --cbg-gold: #eaaa00;
    --cbg-green: #6cc24a;
    --cbg-red: #e74c3c;
    --cbg-orange: #ea7600;

    /* UI Colors */
    --primary-color: var(--alcoa-blue);
    --secondary-color: var(--alcoa-gray);
    --success-color: var(--cbg-green);
    --warning-color: var(--cbg-gold);
    --danger-color: var(--cbg-red);
    --info-color: var(--alcoa-deep-green);

    /* Neutral Color */
    --white: #ffffff;
    --light-gray: #f8f9fa;
    --medium-gray: #e9ecef;
    --dark-grey: #6c757d;
    --black: #212529;

    /* Sidebar */
    --sidebar-width: 280 px;
    
}
